* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: inherit;     
}

body {
    background-color: rgb(246, 199, 197, 0.3);
}

.sidebar {
    display: none;
}

.hamburger {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meow-cafe-marca {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 120px;
    }

    & .meow-cafe {
        font-size: 20px;
        color: #3C0E0E;
        margin-right: 18px;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 260px;
    padding: 20px;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &  ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    & li {
        list-style: none;  
        font-size: 16px;
        font-weight: 500;
        color: #3C0E0E;
        margin-right: 18px;
        cursor: pointer;

        background: linear-gradient(180deg, #3C0E0E 100%, transparent 0%);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: background-size 0.4s ease;

        &:hover {
            background-size: 100% 2px;
        }
    }
}

.navbar-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & p {
        font-size: 16px;
        font-weight: 500;
        color: #3C0E0E;
        cursor: pointer;

        background: linear-gradient(180deg, #3C0E0E 100%, transparent 0%);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: background-size 0.4s ease;

        &:hover {
            background-size: 100% 2px;
        }
    }

}

.container-button-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    
    & button { 
        width: 130px;
        height: 40px;

        border-radius: 35px;
        border: none;
        background-color: #4D1D1D;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

        & a:hover {
            transition: 0.2s ease-in-out;
            font-size: 17px;
            background-color: #431B1B;

        }

        & a:active {
            font-size: 12px;
            opacity: 0.8;
        }
    }
}

.container-info-sabor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

.container-info-left {
    color: #3C0E0E;

    & h4 {
        font-size: 20px;
    }

    & h1 {
        width: 100px;
        font-size: 50px;
        font-weight: bold;
        line-height: 48px;

        margin-top: 10px;
        margin-bottom: 20px;
    }

    & p {
        font-size: 14px;
        width: 310px;
    }
}

.container-info-image img {
    position: relative;

    width: 614px;
    margin-top: -120px;
    margin-right: -45px;

    z-index: -1;
}

.container-info-image-mobile {
    display: none;
}

.container-cafes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    & .background-option {
        width: 1360px;
        margin-top: -770px;
        z-index: -1;
    }
}

.container-cafe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    color: #3C0E0E;


    & h2 {
        font-size: 40px;
    }

    & div {
        width: 65px;
        height: 2px;
        background-color: #3C0E0E;
        margin-bottom: 20px;
    }

    & p {
        font-size: 16px;
        width: 500px;
        text-align: center;
        margin-bottom: 20px;
    }

    & h4 {
        cursor: pointer;
        background: linear-gradient(180deg, #3C0E0E 100%, transparent 0%);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: background-size 0.4s ease;
    }

    & h4:hover {
        background-size: 100% 2px;
    }
}

.container-options-cafe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 587px;
}

.card-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -15px;

    width: 300px;
    height: 450px;

    color: #fff;
    border-radius: 40px;

    background: linear-gradient(190deg,
            #F6C7C5 0%,
            #91342e 100%);

    & img {
        width: 300px;
        margin-top: 10px;
        position: relative;
    }

    & .value {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    & h2 {
        margin-bottom: 10px;
    }

    & p {
        font-size: 14px;
        width: 265px;
        margin-bottom: 30px;
    }

    & button {
        width: 263px;
        height: 45px;

        border-radius: 35px;
        border: none;
        background-color: #fff;

        font-size: 16px;
        font-weight: 700;
        color: #000;
        cursor: pointer;

        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255, 0.5);
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: 0.1s ease-in-out;
        }

        &:active {
            font-size: 12px;
            background-color: rgb(255, 255, 255, 0.2);
        }
    }
}

.card-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -15px;

    width: 300px;
    height: 450px;

    color: #fff;
    border-radius: 40px;

    background: linear-gradient(190deg,
            #FAFAFA 0%,
            #541511 100%);

    & img {
        width: 300px;
        margin-top: -10px;
        position: relative;
    }

    & .value {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    & h2 {
        margin-bottom: 10px;
    }

    & p {
        font-size: 14px;
        width: 265px;
        margin-bottom: 30px;
    }

    & button {
        width: 263px;
        height: 45px;

        border-radius: 35px;
        border: none;
        background-color: #fff;

        font-size: 16px;
        font-weight: 700;
        color: #000;
        cursor: pointer;

        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255, 0.5);
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: 0.1s ease-in-out;
        }

        &:active {
            font-size: 12px;
            background-color: rgb(255, 255, 255, 0.2);
            ;
        }
    }
}

.card-item-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -15px;

    width: 300px;
    height: 450px;

    color: #fff;
    border-radius: 40px;
    z-index: 1;

    background: linear-gradient(390deg,
            #0A0909 0%,
            #541511 100%);

    & img {
        width: 300px;
        margin-top: 10px;
        position: relative;
        margin-bottom: 10px;
    }

    & .value {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    & h2 {
        margin-bottom: 10px;
    }

    & p {
        font-size: 14px;
        width: 265px;
        margin-bottom: 30px;
    }

    & button {
        width: 263px;
        height: 45px;

        border-radius: 35px;
        border: none;
        background-color: #fff;

        font-size: 16px;
        font-weight: 700;
        color: #000;
        cursor: pointer;

        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255, 0.5);
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: 0.1s ease-in-out;
        }

        &:active {
            font-size: 12px;
            background-color: rgb(255, 255, 255, 0.2);
            ;
        }
    }
}

.container-croissants {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 100px;
    margin-left: 52px;
}

.info-croissants {
    width: 490px;
    color: #4D1D1D;
    margin-top: 90px;

    & h2 {
        font-size: 60px;
    }

    & h4 {
        font-size: 40px;
        font-weight: 400;
        width: 500px;
    }

    & p {
        font-size: 16px;
        width: 300px;
    }


    .view-croissants {
        font-weight: 700;
        cursor: pointer;
        width: 174px;
        background: linear-gradient(180deg, #3C0E0E 100%, transparent 0%);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: background-size 0.4s ease;
    }

    .view-croissants:hover {
            background-size: 100% 2px; 
    }

}

.img-croissant img {
    width: 450px;
    margin-top: 200px;
    pointer-events: none;
}

.container-coffe-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.background-color-coffe {
    position: absolute;
    width: 1000px;
    height: 280px;
    border-radius: 40px;
    background: linear-gradient(180deg,
            #F6C7C5 0%,
            #541511 100%);
            z-index: -1;
}

.img-coffe img {
    width: 450px;
    margin-top: -80px;
}

.coffe-delivery-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-right: 30px;

    & h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    & p {
        font-size: 16px;
        margin-bottom: 45px;
    }

    & button {
        width: 280px;
        height: 48px;
        
        border-radius: 35px;
        border: none;
        background-color: #fff;

        font-size: 16px;
        font-weight: 700;
        color: #000;
        cursor: pointer;

        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255, 0.5);
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: 0.1s ease-in-out;
        }

        &:active {
            font-size: 12px;
            background-color: rgb(255, 255, 255, 0.2);
        }
    }
}

.container-sobre-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto;

}

.background-sobre-nos {
    width: 1600px;
    margin-top: -500px;
    z-index: -1;
}

.container-sobre-nos-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px;

}

.sobre-nos-info-left {
    width: 450px;

    & p {
      font-size: 20px;  
    }

    & h2 {
        font-size: 48px;
        color: #4D1D1D;
        line-height: 104%;
    }
    
}

.sobre-nos-info-right {
    width: 349px;

    & .melhor-lugar {
        font-size: 14px;
        font-weight: 700;
        color: #3C0E0E;
    }

    & .descricao {
        font-size: 14px;
        color: #3C0E0E;
        width: 300px;
    }
    
} 

.meow-enjoy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.background-color-enjoy {
    position: absolute;
    width: 1000px;
    height: 458px;
    border-radius: 40px;
    background: linear-gradient(200deg,
            #8F423D 0%,
            #F6C7C5 100%);
    z-index: -1;
}

.container-info-enjoy {
    width: 365px;
    margin-right: -200px;
    padding: 30px;
    color: white;

    & h2 {
        font-size: 80px;
        line-height: 104%;
    }

    .underline-enjoy {
        width: 51px;
        height: 1px;
        background-color: #fff;
        opacity: 0.5;
        margin-bottom: 20px;
    }

    .dias-de-funcionamento {
        margin-bottom: 20px;
        font-size: 20px;
        width: 500px;
    }

    .brunch-conosco {
        font-size: 16px;
        margin-bottom: 31px;
    }

    .reserva {
        width: 161px;
        color: #3C0E0E;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        background: linear-gradient(180deg, #3C0E0E 100%, transparent 0%);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: background-size 0.4s ease;
    }

    .reserva:hover {
        background-size: 100% 2px;
    }
}

.container-image-enjoy {
    width: 602px;
    margin-top: -50px;
    z-index: 100;
    pointer-events: none;
}

.container-image-enjoy-mobile {
    display:none;
}

.container-localizacao {
    width: 345px;
    height: 458px;
    padding: 30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(200deg,
            #8F423D 0%,
            #F6C7C5 100%);
    margin-left: -110px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & h2 {
        font-size: 38px;
        margin-bottom: 25px;
    }

    .underline-division {
        width: 275px;
        height: 1px;
        background-color: #fff;
        margin-bottom: 25px;
    }

    & p {
        font-size: 16px;
    }

    .localizacao-info {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 25px;

        & img {
            width: 25px;
        }
    }

    .localizacao-info:hover {
        transition: 0.2s ease-in-out;
        transform: scale(1.05);
    }
}

.border-top-footer {
    width: 1122px;
    border: 1px solid rgb(0, 0, 0, 0.08);

    margin: 50px auto;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    padding: 20px;
    margin-bottom: 50px;
}

.footer-info {
    width: 305px;

    & h4 {
        font-size: 20px;
        font-weight: 400;
        color: #282828;
        margin-bottom: 10px;
    }

    & p {
        font-size: 16px;
        color: #3C0E0E;
        opacity: 0.68;
        margin-bottom: 20px;
    }

    & img {
        width: 20px;
        opacity: 0.68;
    }

    & img:hover {
        transform: scale(1.15);
    }
}

.footer-links {
    width: 230px;

    & h4 {
        font-size: 20px;
        font-weight: 400;
        color: #282828;
        margin-bottom: 10px;
    }

    & p {
        font-size: 16px;
        color: #3C0E0E;
        opacity: 0.68;
        margin-bottom: 5px;
    }

    & p:hover {
        font-weight: 500;
        color: rgb(0, 0, 0);
    }
}

.footer-intitucional {
    width: 285px;

    & h4 {
        font-size: 20px;
        font-weight: 400;
        color: #282828;
        margin-bottom: 10px;
    }

    & p {
        cursor: pointer;
        font-size: 16px;
        color: #3C0E0E;
        opacity: 0.68;
        margin-bottom: 5px;
    }

    & p:hover {
        font-weight: 500;
        color: rgb(0, 0, 0);
    }
}